STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

STOCK_QUANTITY=50

POSTMARK_SERVER_TOKEN=
POSTMARK_FROM=Punkaslangen <alexander@magaconsulting.se>
POSTMARK_MESSAGE_STREAM=outbound
ORDER_NOTIFY_EMAIL=hej@quick2prep.se

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_VIMEO_ID=368576595
